<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Numbers API</title>
    <script src="../angular.js"></script>
</head>

<body ng-app="numbersApi" , ng-controller="controllerA">
    <div class="fullClass"> <span id="label">NO</span> &nbsp;
        <span> <input type="number" ng-model="number"> </span>
        <button type="button" ng-click="getFacts()">Facts</button>
    </div>
    <div id="warning"></div>
    <div id="facts">{{data}}</div>
    <script src="numbersapi.js"></script>


</body>

</html>