<div id="display" class="col-lg-12 col-xm-2">

    <div id="count">Total number of students:{{count}}</div>
    <div *ngIf="loading" class="backDrop">
        <div class="spinner"></div>
    </div>
    <table id="displayTable">
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email-ID</th>
            <th>Date</th>
            <th>Gender</th>
            <!-- <th>ID</th> -->
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let student of allStudents">
            <td>{{student.rollNo}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.email}}</td>
            <td>{{student.date}}</td>
            <td>{{student.isMale? "Male": "Female" }}</td>
            <!-- <td>{{loadedStudent.id}}</td> -->
            <td><input id="editButton" type="button" value="Edit" class="btn btn-warning"></td>
            <td><input id="deleteButton" type="button" value="Delete" class="btn btn-danger"
                    (click)="deleteStudent(student.id)"></td>

        </tr>
    </table>
    <div class="error">{{errorMessage}}</div>
    <div style="color: red;">{{deleteMessage}}</div>
</div>