<body>
    <div>
        <form class="form-horizontal" name="registrationForm" #formControl="ngForm">
            <div *ngIf="loading" class="backDrop">
                <div class="spinner"></div>
            </div>
            <p>Edit the Student details </p>
            <div>
                <span class="formInput">Roll No :</span> &nbsp; <input required type="number" name="rollNo"
                    [(ngModel)]="rollNo" #rollNoControl="ngModel">
                <span class="error" *ngIf="rollNoControl.invalid">*
                    <span *ngIf="rollNoControl.dirty&&rollNoControl.invalid">
                        Roll no is required</span></span>
            </div>
            <div>
                <span class="formInput"> Name :</span> &nbsp; <input required type="text" name="name" [(ngModel)]="name"
                    #nameControl="ngModel">
                <span class="error" *ngIf="nameControl.invalid">*
                    <span *ngIf="nameControl.dirty && nameControl.invalid">Name is
                        Required</span>
                </span>
            </div>
            <div>
                <span class="formInput"> Age :</span> &nbsp; <input required type="number" name="age" [(ngModel)]="age"
                    #ageControl="ngModel">
                <span class="error" *ngIf="ageControl.invalid">*
                    <span *ngIf="ageControl.dirty && ageControl.invalid">Age is
                        required</span>
                </span>
            </div>
            <div>
                <span class="formInput">Email-ID : &nbsp;</span> <input type="text" name="email" [(ngModel)]="email"
                    #emailControl="ngModel">

            </div>
            <div>
                <span class="formInput"> Date :</span> &nbsp;<input required type="date" name="date" [(ngModel)]="date"
                    #dateControl="ngModel">
                <span class="error" *ngIf="dateControl.invalid">*
                    <span *ngIf="dateControl.dirty && dateControl.invalid">Date is
                        Required</span>
                </span>
            </div>
            <div>
                <span class="formInput">Gender :</span> &nbsp; <input type="radio" name="gender" value="true"
                    [(ngModel)]="isMale" #genderControl="ngModel" />Male
                <input type="radio" name="isMale" value="false" [(ngModel)]="isMale" />Female
                <span class="error" *ngIf="genderControl.invalid">*
                </span>
            </div>

            <input type="reset" id="editButton" class="btn btn-success" value="Edit"
                *ngIf="formControl.dirty && formControl.valid && !loading" (click)="editStudent()" />
            <input *ngIf="!loading" routerLinkActive="active" [routerLink]="['/home']" type="button"
                class="btn btn-warning" value="Cancel" />

            <div *ngIf="true" style="color: green;">{{successMessage}}</div>
            <div *ngIf="operationFailed" class="error">{{errorMessage}}</div>
            <div *ngIf="formControl.invalid || formControl.pristine" class="error">Please change the value of some field
                &
                fill all the (*)marked fields to see the EDIT
                Button</div>

        </form>
    </div>
</body>