.error {
    color: red;
}

input {
    position: sticky;
    grid-column: inherit;
}

.formInput {
    /* position: relative;
    width: 10vw;
    height: 10vh;
    text-align: right; */
}

p {
    font-size: xx-large;
    color: maroon;
    font-style: italic;
}

