<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event</title>
    <script src="../angular.js"></script>
</head>

<body>
    <div ng-app="moduleA" ng-controller="controllerA">
        <section>
            <button type="button"
                ng-click="load()">Load</button><br>{{student.id}}<br>{{student.name}}<br>{{student.cgpa}}<br>
            <img ng-src="{{student.img}}">
        </section>
        <button type="button" ng-click="loadMany()">Load Many</button>
        <section>
            <h1 ng-repeat="student in studentList">{{student.id}}<br>{{student.name}}<br>{{student.cgpa}}<br>
                <img ng-src="{{student.img}}"><br>
            </h1>
        </section>
    </div>
    <script src="DI.min.js"></script>
</body>

</html>